# Flutter/Dart 관련
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
lib/generated_plugin_registrant.dart
**/doc/api/
.fvm/flutter_sdk

# IDE 관련
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.iml
*.ipr
*.iws

# iOS 관련
ios/Pods/
ios/.symlinks/
ios/**/*.mode1v3
ios/**/*.mode2v3
ios/**/*.moved-aside
ios/**/*.pbxuser
ios/**/*.perspectivev3
ios/**/*sync/
ios/**/.sconsign.dblite
ios/**/.tags*
ios/**/.vagrant/
ios/**/DerivedData/
ios/**/Icon?
ios/**/.symlinks/
ios/**/profile
ios/**/xcuserdata
ios/.generated/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android 관련
android/.gradle
android/app/debug
android/app/profile
android/app/release
android/captures/
android/.externalNativeBuild/
android/.cxx/
android/local.properties
*.apk
*.jks
*.keystore
google-services.json
*.hprof
**/android/**/gradle-wrapper.jar
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/key.properties
**/android/**/GeneratedPluginRegistrant.java

# Windows 관련
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
pubspec.lock

# 기타
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history/
.svn/
.env*
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map
lib/service/bok_api.dart